.custom-block {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.custom-block:hover {
    background-color: #ddd;
    color: black;
}

.mobile-row {
    bottom: 10px;
}

.nomor-antrian {
    font-size: 60px !important;
}

.text-mobile{
    font-size: 30px !important;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .mobile-row {
        bottom: 0px;
    }

    .nomor-antrian {
        font-size: 85px !important;
    }

    .text-mobile{
        font-size: 40px !important;
    }
}

@media (min-width: 600px) {
    .kt-portlet.kt-portlet--height-fluid {
        height: 300px !important;
    }
}

.margin-atas {
    margin-top: 30px;
}

.btn {
    height: 60px;
    font-size: 30px !important;
}

@media only screen and (min-width: 801px) {
    /* For tablets: */
    .mobile-row {
        bottom: 0px;
    }

    .nomor-antrian {
        font-size: 85px !important;
    }

    .text-mobile{
        font-size: 40px !important;
    }
}