body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #1D976C, #93F9B9);
    background: linear-gradient(to right, #1D976C, #93F9B9);
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}